# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/
.idea/*.*
.idea/workspace.xml

# Symfony
app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/config/parameters.ini
app/config/parameters.yml
app/cache/*
app/logs/*
var/cache/*
var/logs/*

var/sessions/prod/sess_1klt454dn4qlkudrsho9qc6bc6
var/sessions/dev/sess_u9bbt6oc7epufet3s1v96hgiq0
var/sessions/dev/sess_p8q330omf3oig1fuerq8dhnnj5
var/sessions/dev/sess_o278por2nd2hj44dc1c2j0e3j7
var/sessions/dev/sess_md31k1j0mvm9ogc0gq9f233222
var/sessions/dev/sess_1klt454dn4qlkudrsho9qc6bc6
src/AppBundle/Tests/Controller/UserHasTaskAndSubtaskControllerTest.php
src/AppBundle/Tests/Controller/UserControllerTest.php
src/AppBundle/Tests/Controller/TaskControllerTest.php
src/AppBundle/Tests/Controller/SubtaskControllerTest.php
var/sessions/prod/sess_p8q330omf3oig1fuerq8dhnnj5
var/sessions/prod/sess_o278por2nd2hj44dc1c2j0e3j7
var/sessions/prod/sess_md31k1j0mvm9ogc0gq9f233222
